/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/** End of CSS Reset */

button{
  cursor: pointer;
  transition: .3s;
}button:hover, button:focus{
  opacity: 80%;
  transform: scale(0.98);
}

.nav-header{
  background-image: url('./images/bg-tablet-pattern.svg');
  background-position: -100% -20%;
  background-repeat: no-repeat;
  background-size: 120%;
}

nav{
  padding: 2em 1em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
#mobileNavButton{
  border: none;
  outline: none;
  background-color: transparent;
}
header{
  padding: 0 2.5%;
  padding-bottom: 5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url('./images/bg-tablet-pattern.svg');
  background-position: 500% 98%;
  background-repeat: no-repeat;
  background-size: 90%;
}header div{
  margin: 0 auto;
}

.headerArticle h1{
  color: #242d52;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: .3em;
}.headerArticle p{
  color: #9095a7;
  font-size: .9rem;
  width: 90%;
  margin: 0 auto 1.5em;
}.norm-btn{
  border: none;
  outline: none;
  color: #fff;
  background-color: #f25f3a;
  width: 50%;
  border-radius: 35px;
  padding: .7em;
  max-width: 175px;
  box-shadow: #f25f3a 0px 10px 10px -10px;
}


.common-article{
  text-align: center;
  margin-bottom: 3em;
}.common-article h2{
  color: #242d52;
  font-size: 1.8rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: .5em;
}.common-article p{
  color: #9095a7;
  font-size: .95rem;
  width: 90%;
  margin: 0 auto 1.5em;
  line-height: 1.8;
}

.main-list{
  padding: 0%;
  list-style: none;
  width: 95%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  margin-bottom: 4em;
}
.ad-list div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(13, 100%, 96%);
  border-radius: 20px 0 0 20px;
  margin-bottom: .5em;
}.ad-list span{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 75px;
  width: 15%;
  color: #fff;
  background-color: #f25f3a;
  padding: .5em 1em;
  border-radius: 20px;
}.ad-list h3{
  font-size: 1rem;
  text-align: left;
  margin-right: auto;
  margin-left: 3%;
  color: #242d52;
}.ad-list p{
  width: 95%;
  margin-right: auto;
  color: #9095a7;
  font-size: .95rem;
  line-height: 1.8;
}

.testimonial-section{
  text-align: center;
  margin-bottom: 2em;
}.testimonial-section h2{
  color: #242d52;
  font-size: 1.8rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.5em;
}
.testimonial-container{
  display: flex;
  overflow-x: hidden;
  column-gap: 1em;
}.testimonial-card{
  position: relative;
  width: 90%;
  max-width: 500px;
  background-color: #fafafa;
  margin: 0 auto 1em;
}.testimonial-card img{
  margin: 0 auto;
  width: 30%;
  max-width: 100px;
}.testimonial-card div{
  background-image: linear-gradient(#fff 45%, #fafafa 45%);
  margin-bottom: 1em;
}.testimonial-card h4{
  color: #242d52;
  font-size: 1.2rem;
  margin-bottom: .5em;
}.testimonial-card p{
  color: #9095a7;
  font-size: .95rem;
  width: 90%;
  margin: 0 auto 1.5em;
  line-height: 1.8;
}

.testimonial-switch-buttons{
  padding: 0%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1em;
  column-gap: .3em;
}.testimonial-switch-buttons button{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #f25f3a;
  background-color: transparent;
  transition: .3s;
}.testimonial-switch-buttons button:hover{
  background-color: #f25f3a;
}

.simplify-section{
  background-color: #f25f3a;
  background-image: url('./images/bg-simplify-section-mobile.svg');
  background-position: 0% 60%;
  background-repeat: no-repeat;
  background-size: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5.5em 1em;
}

.simplify-section p{
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: .3em;
}.simplify-section button{
  background-color: #fff;
  color: #f25f3a;
  margin: .5em auto;
  font-weight: 500;
}

footer{
  background-color: hsl(233, 12%, 13%);
  padding: 2em 1em 1em;
}
.input-email{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 560px;
}.input-email input{
  border: none;
  outline: none;
  width: 70%;
  padding: .7em 1.2em;
  border-radius: 27px;
}.input-email input::placeholder{
  font-size: .85rem;
  font-weight: 500;
}.input-email button{
  width: 27%;
  color: #fff;
  border: none;
  outline: none;
  background-color: #f25f3a;
  padding: .7em 0;
  border-radius: 27px;
  text-transform: uppercase;
  font-weight: 700;
}

.footerLinks-container{
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  max-width: 270px;
}.footerLinks-container ul{
  list-style: none;
  padding: 0%;
}.footerLinks-container a{
  color: #fff;
  font-size: .95rem;
  text-decoration: none;
  font-weight: 400;
  line-height: 2;
}.footerLinks-container a:hover, .footerLinks-container a:focus{
  color: #f25f3a;
}
.footerImg-Links ul{
  width: 95%;
  max-width: 305px;
  margin: 3em auto;
  display: flex;
  list-style: none;
  padding: 0%;
  align-items: center;
  justify-content: space-between;
}.footerImg-Links img{
  transform: scale(1.4);
}.footerImg-Links img:hover, .footerImg-Links img:focus{
  filter: invert(62%) sepia(44%) saturate(1644%) hue-rotate(336deg) brightness(102%) contrast(101%);
}
.footerImg-Links div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
#mobile-copyright{
  font-size: .8rem;
  text-align: center;
  color: #9095a7;
}